/*.contents{
    margin: 0 auto;
    width: 400px;
}  */

.header{
    background-color: #141f40;
    height: 100px;
    width: 400px;
}

.main{
    width: 400px;
}

.left{
    float: left;
    width: 150px;
    height: 250px;
    background-color: green;
}

.right{
    float: right;
    width: 250px;
    height: 250px;
    background-color: red;
}

.fotter{
    width: 400px;
    height: 100px;
    background-color: yellowgreen;
}


.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}
