* {
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: '';
    display: block; 
    clear: both;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.main {
    width: 400px;   
}

.right {
    float: right;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

/* LEFT CONTENTS */
.left {
    float: left;
    width: 250px;
    height: 250px;
    background-color: gainsboro;
}

.left-top {
    width: 250px;
    height: 100px;
}
.left-bottom {
    width: 250px;
    height: 150px;
    background-color: #0093b7;
}

.l-top-left {
    float: left;
    width: 100px;
    height: 150px;
    background-color: #dbd403;
}
.l-top-right {
    float: right;
    width: 150px;
    height: 100px;
}

.ltr-top {
    height: 50px;
    background-color: #8c2727;
}
.ltr-bottom {
    height: 100px;
    background-color: #ff9e6b;
}


.fotter {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

